.account-container {
  background-color: white;
  border-radius: 6px;
  margin-top: -80px;
  padding-bottom: $gutter * 2;
  box-shadow: $box-shadow;

  h1 {
    margin-top: $gutter / 2;
    margin-bottom: $gutter;
  }
  h5 {
    margin-bottom: $gutter;
  }
}